---
export const LINKS = {
  Tutorial: [
    { text: "What is kabelsalat", link: "learn" },
    { text: "MIDI", link: "midi" },
  ],
  Development: [{ text: "How kabelsalat works", link: "internals" }],
  Links: [
    { text: "REPL", link: "" },
    { text: "Github", link: "https://github.com/felixroos/kabelsalat" },
    { text: "npm", link: "https://www.npmjs.com/org/kabelsalat" },
  ],
};

const currentPage = Astro.url.pathname;
const { BASE_URL } = import.meta.env;
let currentPageMatch = currentPage.slice(
  BASE_URL.length,
  currentPage.endsWith("/") ? -1 : undefined
);
const baseNoTrailing = BASE_URL.endsWith("/")
  ? BASE_URL.slice(0, -1)
  : BASE_URL;
---

<select
  class="nav-select bg-stone-800 text-white rounded-md border-0 outline-none focus:ring-0"
>
  {
    Object.entries(LINKS).map(([header, children]) => (
      <optgroup label={header}>
        <ul>
          {children.map((child) => {
            const url = child.link.startsWith("https://")
              ? child.link
              : `${baseNoTrailing}/${child.link}`;
            if (currentPageMatch === child.link) {
              return (
                <option selected value={url}>
                  {child.text}
                </option>
              );
            }
            return <option value={url}>{child.text}</option>;
          })}
        </ul>
      </optgroup>
    ))
  }
</select>
